#header, #footer {
    text-align: center;
    background-color: #f1f1f1;
}

#container{
    padding-left: 200px;
    padding-right: 200px;
}

#center {
    background: red;
    width: 100%;
}

#left {
    position: relative;
    background: yellow;
    width: 200px;
    margin-left: -100%;
    right: 200px;
    /*margin-right: 200px;*/
}

#right {
    background: green;
    margin-right: -200px;
    width: 200px;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}


.column {
    float: left;
    height: 200px;
}
